<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Evernote Schedule</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url("schedule") }}">Schedule</a></li>
        </ul>
    </div>
</nav>